.pcenter {
    text-align: center;
}

.pcenter>.img-responsive.front-logo {
    max-height: 350px;
}

img.avatar {
    max-width: 30px;
    max-height: 30px;
}

.profilepp img {
    padding: 0 !important;
    max-width: 100% !important;
}

.userslist {
    padding-top: 100px;
}

.userslistpp {
    max-height: 98px !important;
    max-width: 98px !important;
}

.headglbutton {
    top: 5px;
}

.single-post .post-title {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: bold;
}

.post__date {
    text-transform: capitalize;
    font-size: 10px;
}

.blog-post>img {
    height: 260px;
    width: 370px;
}

.white {
    color: #fff !important;
}

.ustyazi {
    line-height: 1;
    border-bottom: 1px solid #e6ecf5;
}

#anaSutun .altyazi1 {
    font-size: 10px !important;
}

#anaSutun td {
    padding: 15px 25px !important;
}

@media screen and (min-width:642px) {
    #anaSutun td.author {
        width: 270px;
    }
    span.day.altyazi3 {
        margin-top: 5px;
    }
}

input#arama {
    background-color: #fff;
    margin-bottom: 5px;
}

input#arama {
    background-color: #fff;
    margin-bottom: 5px;
}

.accept-request-edit {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.7rem;
    font-size: .688rem;
    border-radius: 2rem;
    transition: all .2s ease-in-out;
    background-color: #38a9ff;
    color: #fff;
    fill: #fff;
}